// ======================================
//         VARIABLES
// ======================================

$background-gray:               #262626;
$text-color:                    #F2F2F2;


// ======================================
//         CUSTOM
// ======================================

body {
  background: lighten($background-gray,3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.repicbro-main-container{
  margin-top: -30px;
}

.repicbro-nav-select{
  width: 200px;
  margin-top: 10px;
  background: $background-gray;
  color: darken($text-color, 20);
  border-color: lighten($background-gray, 30);

}

@media (max-width: 767px){
  .repicbro-nav-select{
    margin-left: 13px;
  }
}

.navbar-inverse .navbar-nav > li > a.repicbro-link-thats-not-a-link{
  cursor: default;
  &:hover{
    color: #999;
  }
}

.repicbro-title{
  text-align: center;
  a{
    color: $text-color;
    &:hover{
      text-decoration: none;
      color: darken($text-color, 20);
    }
  }
}

img.repicbro-image{
  margin: 0 auto 40px auto;
  display: block;
  max-width: 910px;
  border: 4px solid lighten($background-gray, 80);
  -webkit-box-shadow: 0px 0px 55px -7px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 55px -7px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 55px -7px rgba(0,0,0,0.8);
}

@media (max-width: 767px) {
  img.repicbro-image {
    max-width: 95%;
  }
}@media (min-width: 768px) {
  img.repicbro-image {
    max-width: 690px;
  }
}
@media (min-width: 992px) {
  img.repicbro-image {
    max-width: 910px;
  }
}

.nav > li .nsfw-on{
  text-decoration: underline;
  &:hover, &:active{
    text-decoration: underline;
  }
}

