<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reddit Picture Browser</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    <!-- build:css({.tmp,app}) /styles/main.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="repicbro">

    <nav class="navbar navbar-inverse" role="navigation" ng-controller="NavigationCtrl as navigationCtrl">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">repicbro</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="mock-link" ng-click="navigationCtrl.openAboutModal()">About</a>
            </li>
            <li class="dropdown">
              <a class="mock-link" ng-click="navigationCtrl.openCheatsheetModal()">Cheatsheet</a>
            </li>
            <li>
              <a ng-click="navigationCtrl.toggleNsfw()" ng-href="" ng-class="{'nsfw-on': nsfw}" href="">NSFW</a>
            </li>
            <li>
              <a class="mock-link" ng-click="navigationCtrl.openShareModal()">Copy post</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <select class="form-control repicbro-nav-select input-sm"
                  ng-model="navigationCtrl.subreddit"
                  ng-options="subreddit for subreddit in navigationCtrl.subreddits"
                  ng-change="navigationCtrl.changeSubreddit(navigationCtrl.subreddit)">
            </select>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container content" ng-view=""></div>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>

    <!-- build:js /scripts/plugins.js -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/modules.js -->
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /scripts/scripts.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/constants.js"></script>
    <script src="/scripts/filters/permalink.js"></script>
    <script src="/scripts/filters/trustedUrl.js"></script>
    <script src="/scripts/filters/suburl.js"></script>
    <script src="/scripts/services/posts.js"></script>
    <script src="/scripts/services/postsmanager.js"></script>
    <script src="/scripts/services/nsfwmanager.js"></script>
    <script src="/scripts/services/subreddits.js"></script>
    <script src="/scripts/services/helpers.js"></script>
    <script src="/scripts/controllers/navigation.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <script src="/scripts/controllers/start.js"></script>
    <script src="/scripts/controllers/shareModal.js"></script>
    <script src="/scripts/controllers/simpleModal.js"></script>
    <script src="/scripts/directives/selectOnFocus.js"></script>
    <!-- endbuild -->

  </body>
</html>
