<div>
  <div class="modal-header">
    <h3 class="modal-title">What is Repicbro?</h3>
  </div>
  <div class="modal-body">
    repicbro, or Reddit Picture Browser, is a place where you can browse pictures by subreddit from Reddit.<br><br>

    View on <a href="https://github.com/stinaq/repicbro.com" target="_blank">Github</a>.<br><br>

    Made by <a href="https://github.com/stinaq" target="_blank">Stina Qvarnström</a> and <a href="https://github.com/eakron" target="_blank">Erik Kronberg</a>.
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</div>
