<div id="content" class="container">
  <div class="row" ng-repeat="post in posts">
    <div ng-show="isCurrent(post)">
      <div class="col-lg-8">
        <img ng-src="{{ post.url }}"
             ng-show"showNsfw(post)"
             onerror="this.src='images/404.png';">
        <img ng-src="images/nsfw.png" ng-hide"showNsfw(post)">
      </div>
      <div class="col-lg-4">
        <h3>
          <a target="_blank"
             ng-href="{{ post | permalink }}"
             ng-bind-html-unsafe="post.title">
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
