<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cheat sheet</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-4">
            <strong>Change subreddit</strong>
          </div>
          <div class="col-md-8">
            Just change the end of the url so that it says <i>/r/yourfavouritesubreddit</i><br>
            A personal favourite is <a href="http://repicbro.com/r/minecraft">repicbro.com/r/minecraft</a>!<br><br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <strong>Toggle NSFW</strong>
          </div>
          <div class="col-md-8">
            Click the 'NSFW' link in the navigation bar, or press 'n'.<br><br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <strong>Next and previous picture</strong>
          </div>
          <div class="col-md-8">
            Move between pictures with left and right arrow button, or 'j' and 'k'<br>
          </div>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
