<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">What is repicbro?</h4>
      </div>
      <div class="modal-body">

        repicbro, or Reddit Picture Browser, is a place where you can browse pictures by subreddit from Reddit.<br><br>

        Made by <a href="https://github.com/stinaq" target="_blank">Stina Qvarnström</a> and <a href="https://github.com/eakron" target="_blank">Erik Kronberg</a>.

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
